---
const { text, img } = Astro.props;
---

<div class="mt-5 text-center">
  <button
    class="social-btn bg-purple-950 w-full max-w-xs mx-auto flex items-center justify-center px-4 py-2 rounded-lg transition duration-300 text-white"
  >
    <img src={img} class="w-6 h-6 mr-2" alt="Logo" />
    {text}
  </button>
</div>
